form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: rgb(148, 212, 244);
    margin-top: 50px;
}